.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.title,
.subTitle,
.memoriCausa {
  margin-bottom: 20px;
}

.title {
  font-family: var(--fontSecond);
  font-size: 24px;
  letter-spacing: 3.5px;
  margin-block: 30px;
  color: #666666;
  text-align: center;
}

.video {
  width: 400px;
  margin-bottom: 10px;
}

.subTitle,
.descriptions {
  font-family: var(--fontPrimary);
  color: #666666;
}

.subTitle {
  font-size: 18px;
  margin-top: 10px;
}

.descriptions {
  font-size: 13px;
  width: 400px;
  margin-bottom: 10px;
}

.memoriCausa {
  font-family: var(--fontSecond);
  color: #666666;
  letter-spacing: 3px;
  font-size: 12px;
  font-weight: bold;
  text-decoration: revert;
}

.memo1 {
  width: 400px;
  height: 370px;
  margin-top: 50px;
}

@media (max-width: 1024px) {

  .containerMemoriCausa,
  .containerMemori1 {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .containerMemori1 {
    position: relative;
  }

  .textMemori1 {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
  }

  .textMemori1 h2,
  .textMemori1 p,
  .textMemori1 a {
    color: white;
  }

  .descriptions {
    font-size: 13px;
    width: 100%;
    margin-bottom: 10px;
    padding-inline: 20px;
    text-align: center;
  }
}

@media (max-width: 375px) {

  .subTitle,
  .descriptions {
    padding-inline: 60px;
  }

  .subTitle {
    text-align: center;
    width: 100%;
  }
}